<div class="w-full flex py-1">

    <div class="w-6 ml-3 flex align-content-center">
      <p-iconfield class="outline-none w-10">
        <input
          type="text"
          class="h-full w-full underline-input"
          pInputText
          placeholder="Empleado"
          [formControl]="filterName"
        />
        <p-inputicon class="pi pi-search" />
      </p-iconfield>
    </div>

    <div class="w-5 gap-3 flex align-content-center justify-content-end">
       <p-button (onClick)="exit()" size="small" outlined severity="primary" label="Semanal"  />
        <p-button (onClick)="submit()" size="small"  severity="primary" label="Mensual"  />
    </div>


</div>
