<div class="flex flex-column h-full border-round-lg column p-1">
  <div class="w-full flex flex-column bg-white flex-shrink-0 border-round-lg">
    <div class="w-full text-sm flex justify-content-center align-items-center">
      <p class="t-gray">
        {{ shift().shift }}
      </p>
    </div>
    <div class="divider my-1 mx-5"></div>
  </div>

  <div class="flex border-gray my-2 mx-1 t-gray py-1 text-center">
    <p class="w-6">Empleado</p>
    <p class="w-3">ingreso</p>
    <p class="w-3">Egreso</p>
  </div>

  <div class="flex flex-column gap-1 h-full scrollable">
    @for (item of shift().employees; track $index) {
      <div class="flex align-items-center justify-content-between bg-white border-round-sm gap-1 py-2">

        <div class="flex flex-shrink-0 gap-1">
          @if (item.image){
            <p-avatar [image]="item.image" class="flex-shrink-0" shape="circle" />
          } @else {
            <p-avatar icon="pi pi-user" class="flex-shrink-0" shape="circle" />
          }

          <div class="flex flex-column flex-grow-1">
            <p class="text-xs">{{ item.name }}</p>
            <p class="text-xs">{{ item.rol }}</p>
          </div>
        </div>

          <form action="" class="flex w-6" [formGroup]="scheduleForm">
            <p-datepicker class="w-6 custom-panel" size="small" fluid [iconDisplay]="'input'"  [showIcon]="true" formControlName="entry" [timeOnly]="true"/>
            <p-datepicker class="w-6 custom-panel" size="small" fluid [iconDisplay]="'input'" [showIcon]="true" formControlName="discharge" [timeOnly]="true"/>
          </form>

      </div>
    }
  </div>
</div>
