<app-shift-header class="flex flex-shrink-0"  (setShift)="setShift($event)"></app-shift-header>

<div class="flex w-full flex-grow-1 bg-light-gray gap-1 my-1 ">

  @for (shiftDay of shiftWeek(); track $index) {
        <app-shift-column
            [shiftItem]="shiftDay"
            [shift]="shift()"
            class="col p-0 border-round-lg"
            style="height: calc(100vh - 158px);"
            [style]="getToday(shiftDay.date) ? 'outline: 2px solid var(--accent)':'' "
        ></app-shift-column>
  }


</div>

  <div class="flex flex-shrink-0 justify-content-center py-2 align-items-center ">
    <i (click)="changeWeekView(false)" class="pi pi-chevron-left text-primary text-xl"> </i>
    <p class="mx-5">{{ getWeekRangeString() }}</p>
    <i (click)="changeWeekView(true)" class="pi pi-chevron-right text-primary text-xl"> </i>
  </div>
