<aside class="h-full flex flex-column relative aside" [ngClass]="expanded() ? 'expanded-aside' : 'short-aside'">
  <!-- Toggle menu -->
  <div class="toogle-btn flex flex-shrink-0" (click)="toggleMenu()">
    <i
      class="pi pi-angle-double-left icon primary-icon text-2xl"
      [ngClass]="expanded() ? 'pi-angle-double-left' : 'pi-angle-double-right'"
    ></i>
  </div>
  @if (user().rol !== 'empleado') {}

  <!-- Header -->
  <div class="flex flex-column py-3 px-3 flex-grow-1">
    <div class="flex gap-1 w-full gap-2 justify-center" style="height: 3rem;">
      <div>
        @if (company().imagen) {
          <p-avatar  shape="circle" [image]="company().imagen" [ngClass]="expanded() ? 'mr-1':'mx-auto' "/>
        } @else {
          <p-avatar shape="circle" icon="pi pi-user" [ngClass]="expanded() ? 'mr-1':'mx-auto' " />
        }

      </div>
      @if(expanded()){
        <div class="mr-auto">
          <p class="text-sm text-white font-bold">{{ company().nombre || "Sin información" }}</p>
          <p class="text-sm t-gray">{{ user().nombre }}</p>
        </div>
      }
    </div>
    <div class="divider"></div>

    <!--  Buttons -->

    <div class="w-full flex flex-column gap-4">

      <a routerLink="/panel/employees" pButton [severity]="getSeverity('employees')"
      class="w-full justify-content-start border-round-sm"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-users" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Empleados</p> }

      </a>


      <a routerLink="/panel/shifts" pButton [severity]="getSeverity('shifts')"
      class="w-full inline-flex justify-content-start border-round-sm align-content-center"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-book text-xl" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Turnos</p> }

      </a>


      <a routerLink="/panel/schedules" pButton [severity]="getSeverity('schedules')"
      class="w-full justify-content-start border-round-sm"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-clock text-xl" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Horarios</p> }

      </a>


      <a routerLink="/panel/calendar" pButton [severity]="getSeverity('calendar')"
      class="w-full justify-content-start border-round-sm"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-calendar-clock text-xl" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Calendario</p> }

      </a>


      <a routerLink="/panel/procedures" pButton [severity]="getSeverity('procedures')"
      class="w-full justify-content-start border-round-sm"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-copy text-xl" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Tramites</p> }

    </a>


    @if (user().rol !== 'empleado') {
<a routerLink="/panel/reports" pButton [severity]="getSeverity('reports')"
class="w-full border-round-sm"
[ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
>
<i class="pi pi-chart-line text-xl" pButtonIcon></i>
@if(expanded()){ <p pButtonLabel >Reportes</p> }

</a>
}


    </div>
  </div>

  <div class="flex flex-column py-3 px-3 flex-shrink-0">
    <a (click)="exit()" pButton [severity]="'contrast'"
      class="w-full border-round-sm"
      [ngClass]="expanded() ? 'justify-content-start':'justify-content-center' "
      >
      <i class="pi pi-sign-in" pButtonIcon></i>
      @if(expanded()){ <p pButtonLabel >Cerrar sesión</p> }
      </a>
  </div>

</aside>
