<app-employee-header
[workstations]="workstations()"
[status]="status()"
class="flex flex-shrink-0"
(addEmployee)="openEmployeeModal()"
(allChecked)="markAllChecked($event)"
(confirmDelete)="deleteEmployees()"
(filtersSelected)="filterEmployees($event)"
 ></app-employee-header>

<div class="flex flex-column flex-grow-1">

  <div class="flex flex-column gap-1 h-full">

    @for (employee of employees(); track employee.id) {
      <app-employee-item
      (checked)="checkItem($event, employee.id)"
      [employee]="employee"
      (edit)="openEmployeeModal($event)"
      ></app-employee-item>
    }


    </div>


    <div class="absolute bottom-0 right-0">
        <p-paginator
        class="text-xs py-1"
        (onPageChange)="onPageChange($event)"
        [first]="0"
        [rows]="itemsPage()"
        [totalRecords]="employeesFiltered().length"
        [showPageLinks]="false"
        [showFirstLastIcon]="false"
        [showCurrentPageReport]="true"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="{first} - {last} de {totalRecords}" />
      </div>


</div>

@if (viewEmployeeFormModal()) {
  <app-employee-form
  (add)="addEmployee($event)"
  (cancel)="closeEmployeeModal()"
  [disableItems]="!!editEmployee()"
  [editEmployee]="editEmployee()"
  ></app-employee-form>
}
