<app-employee-header
[workstations]="workstations()"
[status]="status()"
(addEmployee)="openEmployeeModal()"
(confirmDelete)="deleteEmployees()"
(filtersSelected)="filterEmployees($event)"
 ></app-employee-header>

<div class="h-full flex flex-column justify-content-between">

  <div class="flex flex-column gap-2">

    @for (employee of employees(); track employee.id) {
      <app-employee-item
      (checked)="checkItem($event, employee.id)"
      [employee]="employee"
      ></app-employee-item>
    }


    </div>


    <div class="absolute bottom-0 right-0">
        <p-paginator
        class="text-xs"
        (onPageChange)="onPageChange($event)"
        [first]="0"
        [rows]="11"
        [totalRecords]="employeesFiltered().length"
        [showPageLinks]="false"
        [showFirstLastIcon]="false"
        [showCurrentPageReport]="true"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="{first} - {last} de {totalRecords}" />
      </div>


</div>

@if (viewEmployeeFormModal()) {
  <app-add-employee
  (add)="addEmployee($event)"
  ></app-add-employee>
}
