<div class="auth-container h-screen w-full relative flex align-items-center justify-content-center">
  <img class="hc-tech absolute" src="datos/hc_tech.png" alt="">

<div class="flex relative flex-column w-3 min-w-0 justify-content-between form-container border-round-3xl overflow-hidden">

  @if (showFormSignin()) {

    <app-signin ></app-signin>
  } @else {
    <app-signup ></app-signup>
  }

  <div
  class="flex absolute bottom-0 w-full gap-2 justify-content-center align-items-center bg-white text-xl rounded-edge"
  [class.sliding]="sliding()"
  (click)="changeForm()"
  >
  @if (!sliding()) {
    <p > {{showFormSignin() ? 'Sign up' : 'Sign in'}} </p>
    <i class="pi pi-sign-in text-xl" pButtonIcon></i>
  }
  </div>
</div>
</div>
