/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --accent: #009EF7;
  --white: #fff;
  --black: #000;
  --bg_primary: #010318;
  --bg_secondary: #012245;
  --gray: #8695A7;
  --light-gray:#f0f2f5;
  --red: #B3261E;
  --light-red: #FFAEAE;
  --btn-green:#9ACC47;
  --light-green:#dcedbf;
  --light-orange:#f4cba4;
  --btn-orange:#FF820F;
  --btn-violet:#9647FE;
  --light-violet:#d0b7f8;
}

:root, html, body, app-root, app-home-panel, main {
  height: 100dvh;
  min-height: 100dvh;
}

html, body, p, div {
  font-family: Inter, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  background-color: var(--white);
  color: var(--black);
  height: 100dvh;
}
a{
  text-decoration: none;
}

.icon{
  border-radius: 4px;
  padding: 1px 3px;
}

.t-gray {
  color: var(--gray);
}

.primary-icon {
  background-color: var(--accent);
  color: var(--white);
}
.primary-color {
  color: var(--accent);
}

.secundary-icon {
  background-color: var(--light-gray);
}
.curtain {
  background-color: rgba(0, 0, 0, 0.35);
}
.div-filters {
  box-sizing: border-box;
  border-bottom: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}
.underline-input{
border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--gray);
  outline: none;
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.btn {
  padding: 7px 20px;
  border-radius: 3px;
  border: 1px solid black;
}
.primary-btn {
  color: var(--accent);
  border: 1px solid var(--accent);
}
.active {
  color: var(--btn-green);
  background-color: var(--light-green);
  border: 2px solid var(--btn-green);
}
.inactive {
  color: var(--gray);
  background-color: var(--light-gray);
  border: 2px solid var(--gray);
}
.absent {
  color: var(--btn-orange);
  background-color: var(--light-orange);
  border: 2px solid var(--btn-orange);
}
.warning{
  color: var(--red);
  background-color: var(--light-red);
  border: 2px solid var(--red);
}
.vacation {
  color: var(--btn-violet);
  background-color: var(--light-violet);
  border: 2px solid var(--btn-violet);
}
.bg-gray {
  background-color: var(--gray);
}
.custom-panel .p-datepicker-panel{
  inset-inline-start: -31px !important;
}
.scrollable{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(180, 180, 180, 0.5) transparent;
}

.scrollable::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.4);
    border-radius: 99px;
}

.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.6);
}
.divider{
  height: 1px;
  background-color: var(--gray);
}
.border-gray {
  border: 1px solid var(--gray);
}

li.p-menu-submenu-label{
  display: none;
}
li[aria-label="Aprobar"] a {
    color: var(--accent);
}

li[aria-label="Remover"] a {
    color: var(--red);
}
