/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --accent: #009EF7;
  --white: #fff;
  --black: #000;
  --bg_primary: #010318;
  --bg_secondary: #012245;
  --gray: #8695A7;
  --light-gray:#f0f2f5;
  --red: #B3261E;
  --btn-green:#9ACC47;
  --light-green:#dcedbf;
  --light-orange:#f4cba4;
  --btn-orange:#FF820F;
  --btn-violet:#9647FE;
  --light-violet:#d0b7f8;
}

html, body, p, div {
  font-family: Inter, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--white);
  color: var(--black);
}
a{
  text-decoration: none;
}

.icon{
  border-radius: 4px;
  padding: 1px 3px;
}

.primary-icon {
  background-color: var(--accent);
  color: var(--white);
}

.secundary-icon {
  background-color: var(--light-gray);
  color: var(--accent);
}

.btn {
  padding: 7px 20px;
  border-radius: 3px;
  border: 1px solid black;
}

.active {
  color: var(--btn-green);
  background-color: var(--light-green);
  border: 2px solid var(--btn-green);
}
.inactive {
  color: var(--gray);
  background-color: var(--light-gray);
  border: 2px solid var(--gray);
}
.absent {
  color: var(--btn-orange);
  background-color: var(--light-orange);
  border: 2px solid var(--btn-orange);
}
.vacation {
 color: var(--btn-violet);
  background-color: var(--light-violet);
  border: 2px solid var(--btn-violet);
}
