 <div class="grid m-0 py-2 w-full div-filters align-items-center"
  [ngClass]="employee().checked ? 'checked':''"
  #container>
    <div class="col-1 flex justify-content-left">
      <p-checkbox [binary]="true" [(ngModel)]="employee().checked" (onChange)="onchecked($event)" class="ml-5" />
    </div>
    <div class="col-3 text-base py-0">
      <div class="flex items-center align-items-center">
        @if (employee().imagen){
        <p-avatar [image]="employee().imagen"  class="mr-2" size="normal" shape="circle" />
      } @else {
        <p-avatar icon="pi pi-user" class="mr-2" size="normal" shape="circle" />
      }
        <span >{{ employee().nombre }}</span>
    </div>
  </div>
  <div class="col-2 text-sm text-center">
      <span>{{ employee().puesto }}</span>
    </div>

    <div class="col-2 text-sm text-center">
      <span>{{ employee().turno }}</span>
    </div>

    <div class="col-2 text-sm text-center">
      <span class="btn"
      [ngClass]="{
    'active': employee().estado == 'Activo',
    'inactive': employee().estado == 'Inactivo',
    'absent': employee().estado == 'Ausente',
    'vacation': employee().estado == 'Vacaciones',
  }" >{{ employee().estado  }}</span>
    </div>
    <div class="col-1 text-xs text-center">
      <span>{{ getTimeInCompany() }}</span>
    </div>
    <div class="col-1 flex align-items-center justify-content-center">
      @if (user()?.rol !== 'empleado') {
        <p-button (onClick)="editEmployee()" label="Editar" type="primary" outlined  />
      }

    </div>

</div>
