 <div class="grid m-0 w-full div-filters align-items-center"
  [ngClass]="employee().checked ? 'checked':''"
  #container>
    <div class="col-1 flex justify-content-left">
      <p-checkbox [binary]="true" (onChange)="onchecked($event)" class="ml-5" />
    </div>
    <div class="col-3 text-base py-1">
      <div class="flex items-center align-items-center">
        <p-avatar [image]="employee().image" class="mr-2" size="large" shape="circle" />
        <span >{{ employee().name }}</span>
    </div>
  </div>
  <div class="col-2 text-sm text-center">
      <span>{{ employee().workstation }}</span>
    </div>
    <div class="col-2 text-sm text-center">
      <span>{{ employee().work_schedule }}</span>
    </div>
    <div class="col-2 text-sm text-center">
      <span class="btn"
      [ngClass]="{
    'active': employee().status == 'Activo',
    'inactive': employee().status == 'Inactivo',
    'absent': employee().status == 'Ausente',
    'vacation': employee().status == 'Vacaciones',
  }" >{{ employee().status }}</span>
    </div>
    <div class="col-1 text-sm text-center">
      <span>{{ employee().time_in_company }}</span>
    </div>
    <div class="col-1 flex align-items-center justify-content-center">
      <p-button label="Editar" type="primary" outlined  />
    </div>

</div>
